## DataFrame 计算
DataFrame 与标量的算术运算

DataFrame 对象之间的运算

DataFrame 与 Series 的运算

### DataFrame 与标量的算术运算

DataFrame 与数字或者通过函数进行运算时，是返回一个新的 DataFrame，而不是修改原 DataFrame。

In [1]:
import pandas as pd
Score=pd.read_csv("../data/score.csv")

In [2]:
Score.set_index(['姓名'],inplace=True)
Score=Score+10
print(Score)

     语文     数学  英语   物理  生物  化学
姓名
张飞  103   77.0  90   76  80  88
关羽  102   88.0  91   90  72  69
赵云   89  108.0  58   49  80  78
貂蝉   69   56.0  77  100  86  89

In [3]:
print(Score.radd(10))  
print(Score.add(10))  
print(Score)

     语文     数学   英语   物理  生物  化学
姓名
张飞  113   87.0  100   86  90  98
关羽  112   98.0  101  100  82  79
赵云   99  118.0   68   59  90  88
貂蝉   79   66.0   87  110  96  99
     语文     数学   英语   物理  生物  化学
姓名
张飞  113   87.0  100   86  90  98
关羽  112   98.0  101  100  82  79
赵云   99  118.0   68   59  90  88
貂蝉   79   66.0   87  110  96  99
     语文     数学  英语   物理  生物  化学
姓名
张飞  103   77.0  90   76  80  88
关羽  102   88.0  91   90  72  69
赵云   89  108.0  58   49  80  78
貂蝉   69   56.0  77  100  86  89

In [4]:
Score=Score+10  
Score['数学']=Score['数学']-10  
print(Score)

     语文     数学   英语   物理  生物  化学
姓名
张飞  113   77.0  100   86  90  98
关羽  112   88.0  101  100  82  79
赵云   99  108.0   68   59  90  88
貂蝉   79   56.0   87  110  96  99

In [5]:
Score['数学']=Score['数学'].sub(10)  
print(Score)  
Score['数学']=Score['数学'].rsub(10)   # 10- 数学
print(Score)

     语文    数学   英语   物理  生物  化学
姓名
张飞  113  67.0  100   86  90  98
关羽  112  78.0  101  100  82  79
赵云   99  98.0   68   59  90  88
貂蝉   79  46.0   87  110  96  99
     语文    数学   英语   物理  生物  化学
姓名
张飞  113 -57.0  100   86  90  98
关羽  112 -68.0  101  100  82  79
赵云   99 -88.0   68   59  90  88
貂蝉   79 -36.0   87  110  96  99

In [6]:
Score['英语']=Score['英语']*1.25 
print(Score) #修改后 覆盖

     语文    数学      英语   物理  生物  化学
姓名
张飞  113 -57.0  125.00   86  90  98
关羽  112 -68.0  126.25  100  82  79
赵云   99 -88.0   85.00   59  90  88
貂蝉   79 -36.0  108.75  110  96  99

In [7]:
Score=Score+10  
Score['数学']=Score['数学'].sub(10)  
Score['英语']=Score['英语'].mul(1.25)  
Score['物理']=Score['物理']/2  
Score['化学']=Score['化学'].div(2)  
Score['生物']=Score['生物'].div(2)  
print(Score)

     语文    数学        英语    物理    生物    化学
姓名
张飞  123 -57.0  168.7500  48.0  50.0  54.0
关羽  122 -68.0  170.3125  55.0  46.0  44.5
赵云  109 -88.0  118.7500  34.5  50.0  49.0
貂蝉   89 -36.0  148.4375  60.0  53.0  54.5

In [8]:
Score=Score+10
Score['数学']=Score['数学'].sub(10)
Score['英语']=Score['英语'].mul(1.25)
Score['物理']=Score['物理'].floordiv(2)
Score['化学']=Score['化学'].floordiv(2)
Score['生物']=Score['生物'].floordiv(2)
print(Score)

     语文    数学          英语    物理    生物    化学
姓名
张飞  133 -57.0  223.437500  29.0  30.0  32.0
关羽  132 -68.0  225.390625  32.0  28.0  27.0
赵云  119 -88.0  160.937500  22.0  30.0  29.0
貂蝉   99 -36.0  198.046875  35.0  31.0  32.0

 round() 方法进行四舍五入保留小数，我们只需输入保留几位小数即可。

In [9]:
Score=Score+10  
Score['数学']=Score['数学'].sub(10)  
Score['英语']=Score['英语'].mul(1.25)  
Score['物理']=Score['物理'].floordiv(2)  
Score['化学']=Score['化学'].floordiv(2)  
Score['生物']=Score['生物'].floordiv(2)  
print(Score.round(0))

     语文    数学     英语    物理    生物    化学
姓名
张飞  143 -57.0  292.0  19.0  20.0  21.0
关羽  142 -68.0  294.0  21.0  19.0  18.0
赵云  129 -88.0  214.0  16.0  20.0  19.0
貂蝉  109 -36.0  260.0  22.0  20.0  21.0

### DataFrame 对象之间的运算

In [10]:
df1=pd.DataFrame({'A':[1,2,1],'B':[4,5,1]}) 
df2=pd.DataFrame({'B':[1,1],'C':[1,2]})

In [11]:
print(df1+df2) # 两个 DataFrame 运算前，首先两个对象要将形状变为一致，将缺失的列补全，数值用 nan 填充。其次就是对应位置的元素进行相加。特别需要注意的一点就是，在运算过程中，nan 加任何数仍为 nan，所以就出现了我们上面所看到的答案。

    A    B   C
0 NaN  5.0 NaN
1 NaN  6.0 NaN
2 NaN  NaN NaN

In [12]:
print(df1.add(df2))

    A    B   C
0 NaN  5.0 NaN
1 NaN  6.0 NaN
2 NaN  NaN NaN

### DataFrame 与 Series 的运算

DataFrame 与 Series 的运算中 Series 是算作 DataFrame 的一行的。

In [13]:
import pandas as pd
Score=pd.read_csv("../data/score.csv")
Score.set_index(['姓名'],inplace=True)
print(Score)
print(Score.iloc[0])
# print(Score-Score.iloc[0])
print(Score.describe())
print(Score.info())
print(Score-Score.iloc[0])

    语文    数学  英语  物理  生物  化学
姓名
张飞  93  67.0  80  66  70  78
关羽  92  78.0  81  80  62  59
赵云  79  98.0  48  39  70  68
貂蝉  59  46.0  67  90  76  79
语文    93.0
数学    67.0
英语    80.0
物理    66.0
生物    70.0
化学    78.0
Name: 张飞, dtype: float64
              语文         数学         英语        物理         生物         化学
count   4.000000   4.000000   4.000000   4.00000   4.000000   4.000000
mean   80.750000  72.250000  69.000000  68.75000  69.500000  71.000000
std    15.840349  21.700614  15.383974  22.14159   5.744563   9.416298
min    59.000000  46.000000  48.000000  39.00000  62.000000  59.000000
25%    74.000000  61.750000  62.250000  59.25000  68.000000  65.750000
50%    85.500000  72.500000  73.500000  73.00000  70.000000  73.000000
75%    92.250000  83.000000  80.250000  82.50000  71.500000  78.250000
max    93.000000  98.000000  81.000000  90.00000  76.000000  79.000000
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 张飞 to 貂蝉
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   语文      4 non-null      int64
 1   数学      4 non-null      float64
 2   英语      4 non-null      int64
 3   物理      4 non-null      int64
 4   生物      4 non-null      int64
 5   化学      4 non-null      int64
dtypes: float64(1), int64(5)
memory usage: 224.0+ bytes
None
      语文    数学    英语    物理   生物    化学
姓名
张飞   0.0   0.0   0.0   0.0  0.0   0.0
关羽  -1.0  11.0   1.0  14.0 -8.0 -19.0
赵云 -14.0  31.0 -32.0 -27.0  0.0 -10.0
貂蝉 -34.0 -21.0 -13.0  24.0  6.0   1.0

In [14]:
print(Score['语文'])
print(Score.sub(Score['语文'],axis=0))

姓名
张飞    93
关羽    92
赵云    79
貂蝉    59
Name: 语文, dtype: int64
    语文    数学  英语  物理  生物  化学
姓名
张飞   0 -26.0 -13 -27 -23 -15
关羽   0 -14.0 -11 -12 -30 -33
赵云   0  19.0 -31 -40  -9 -11
貂蝉   0 -13.0   8  31  17  20

In [15]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(9).reshape(3,3), columns=['清华','北大','浙大'], index=['one', 'two', 'threee'])
print(frame)
series = frame['北大']
print(series)
series.index=['one', 'B', 'threee']
print(series)
s=frame.add(series, axis=0)
print(s)

        清华  北大  浙大
one      0   1   2
two      3   4   5
threee   6   7   8
one       1
two       4
threee    7
Name: 北大, dtype: int64
one       1
B         4
threee    7
Name: 北大, dtype: int64
          清华    北大    浙大
B        NaN   NaN   NaN
one      1.0   2.0   3.0
threee  13.0  14.0  15.0
two      NaN   NaN   NaN

DataFrame 的运算核心思想主要就是索引对齐，在计算中，自动对齐不同的索引的数据，如果运算对象索引缺失就默认用 NaN 进行处理。