In [1]:
import pandas as pd 
res=pd.read_csv("../data/score.csv")
print(res)

   姓名  语文    数学  英语  物理  生物  化学
0  张飞  93  67.0  80  66  70  78
1  关羽  92  78.0  81  80  62  59
2  赵云  79  98.0  48  39  70  68
3  貂蝉  59  46.0  67  90  76  79

### describe()
通过该方法能够获取各列数据的统计数据。

In [2]:
print(res.describe())

              语文         数学         英语        物理         生物         化学
count   4.000000   4.000000   4.000000   4.00000   4.000000   4.000000
mean   80.750000  72.250000  69.000000  68.75000  69.500000  71.000000
std    15.840349  21.700614  15.383974  22.14159   5.744563   9.416298
min    59.000000  46.000000  48.000000  39.00000  62.000000  59.000000
25%    74.000000  61.750000  62.250000  59.25000  68.000000  65.750000
50%    85.500000  72.500000  73.500000  73.00000  70.000000  73.000000
75%    92.250000  83.000000  80.250000  82.50000  71.500000  78.250000
max    93.000000  98.000000  81.000000  90.00000  76.000000  79.000000

### Info() 方法 

方法：info()，通过该方法我们能够快速了解 DataFrame 对象的重要属性。

In [3]:
print(res.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      4 non-null      object
 1   语文      4 non-null      int64
 2   数学      4 non-null      float64
 3   英语      4 non-null      int64
 4   物理      4 non-null      int64
 5   生物      4 non-null      int64
 6   化学      4 non-null      int64
dtypes: float64(1), int64(5), object(1)
memory usage: 352.0+ bytes
None

### head() 和 tail()

In [4]:
print(res.head(2))#查看前两条数据  
print(res.tail(2))#查看后两条数据

   姓名  语文    数学  英语  物理  生物  化学
0  张飞  93  67.0  80  66  70  78
1  关羽  92  78.0  81  80  62  59
   姓名  语文    数学  英语  物理  生物  化学
2  赵云  79  98.0  48  39  70  68
3  貂蝉  59  46.0  67  90  76  79

In [5]:
res2=pd.read_csv("../data/score1.csv")

In [6]:
print(res2)

   姓名  语文    数学  英语   物理  生物  化学
0  貂蝉  59  46.0  67   90  76  79
1  刘备  98  32.0  43   35  40  70
2  曹操  59  98.0  98  100  76  32

### 数据合并方法
Concat()

- 方法：concat(objs, *, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=None)

参数介绍：axis 指定按哪个轴连接，默认为 0 即按列堆叠，axis=1 按行堆叠；join 即指定连接方式。其他参数不太常用，大家用时查找文档即可。

In [7]:
Score_all=pd.concat([res,res2],ignore_index=True,axis=0)  
print(Score_all)

   姓名  语文    数学  英语   物理  生物  化学
0  张飞  93  67.0  80   66  70  78
1  关羽  92  78.0  81   80  62  59
2  赵云  79  98.0  48   39  70  68
3  貂蝉  59  46.0  67   90  76  79
4  貂蝉  59  46.0  67   90  76  79
5  刘备  98  32.0  43   35  40  70
6  曹操  59  98.0  98  100  76  32

### 数据清洗方法

#### 去重函数：drop_duplicates()

Drop_duplicates 方法用于去除 DataFrame 对象中的重复值。重复数据的存在会增加数据处理的时间和成本、增大数据占用存储空间、降低模型的准确性，使得用此数据集训练出来的模型对于某方面预测得很好而其他方面效果很差，降低了模型的泛化能力，所以我们需要对数据进行去重。

方法：drop_duplicates(subset, keep, inplace)


参数：subset 即按照那几列去重；keep 有三个参数，first 参数保留第一个重复值，last 保留最后一个重复值，False 删除所有重复值；inplace 是否修改原数据。通常来说，keep 默认为 first，inplace 默认为 False。

In [8]:
Score_all.drop_duplicates(inplace=False)  
print(res)
print(res2)

   姓名  语文    数学  英语  物理  生物  化学
0  张飞  93  67.0  80  66  70  78
1  关羽  92  78.0  81  80  62  59
2  赵云  79  98.0  48  39  70  68
3  貂蝉  59  46.0  67  90  76  79
   姓名  语文    数学  英语   物理  生物  化学
0  貂蝉  59  46.0  67   90  76  79
1  刘备  98  32.0  43   35  40  70
2  曹操  59  98.0  98  100  76  32

In [9]:
print(Score_all)

   姓名  语文    数学  英语   物理  生物  化学
0  张飞  93  67.0  80   66  70  78
1  关羽  92  78.0  81   80  62  59
2  赵云  79  98.0  48   39  70  68
3  貂蝉  59  46.0  67   90  76  79
4  貂蝉  59  46.0  67   90  76  79
5  刘备  98  32.0  43   35  40  70
6  曹操  59  98.0  98  100  76  32

###  查看数据是否存在空值：Isna()

In [10]:
print(Score_all.isna())

      姓名     语文     数学     英语     物理     生物     化学
0  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False
3  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False
5  False  False  False  False  False  False  False
6  False  False  False  False  False  False  False

### any，该方法会判断各列数据中是否存在 True

In [11]:
Score_bool=Score_all.isna()  
print(Score_bool.any())

姓名    False
语文    False
数学    False
英语    False
物理    False
生物    False
化学    False
dtype: bool

### 处理缺失值
使用 dropna() 函数直接删除或者使用 fillna() 进行缺失值填充。

#### 删除存在缺失值的数据：dropna()
方法：dropna（axis=，how=，inplace=）

参数：axis 指出按行还是按列删除，axis=0 为按行删除，axis=1 为按列。how 为 any 即只要有一个空缺值就删除，为 all 即全部都是空缺值才删除。Inplace 即是否在原来的数据对象上进行修改。

In [12]:
print(Score_all.dropna(axis=0,how='any'))

   姓名  语文    数学  英语   物理  生物  化学
0  张飞  93  67.0  80   66  70  78
1  关羽  92  78.0  81   80  62  59
2  赵云  79  98.0  48   39  70  68
3  貂蝉  59  46.0  67   90  76  79
4  貂蝉  59  46.0  67   90  76  79
5  刘备  98  32.0  43   35  40  70
6  曹操  59  98.0  98  100  76  32

#### 空缺值填充：fillna()
方法：fillna(value=None, method=None, axis=None, inplace=False, limit=None)

- value：要用来填充缺失值的值或字典。
- method：用来填充缺失值的方法，可以是 ffill（向前填充）或 bfill（向后填充），默认为 None。
- axis：对缺失值填充的轴，可以是 0（默认，按列填充）或 1（按行填充）。
- inplace：是否在原数据帧中进行填充，默认为 False。
- limit：限制向前或向后填充的最大数量。

In [13]:
Score_all.fillna(axis=0,value={'数学':80},inplace=True)  
print(Score_all)

   姓名  语文    数学  英语   物理  生物  化学
0  张飞  93  67.0  80   66  70  78
1  关羽  92  78.0  81   80  62  59
2  赵云  79  98.0  48   39  70  68
3  貂蝉  59  46.0  67   90  76  79
4  貂蝉  59  46.0  67   90  76  79
5  刘备  98  32.0  43   35  40  70
6  曹操  59  98.0  98  100  76  32

### 按值排序方法
方法：sort_values(by，ascending，axis)，按值排序，通过指出以哪列数据为标准进行按值排序。

- by：指出按照哪列数据进行排序。
- ascending：由小到大还是由大到小，默认由小到大往下排。
- axis：0 为横行，1 为竖列，通常默认为 0。
- inplace：修改原 DataFrame 还是 return a new DataFrame。

In [14]:
Score_all.sort_values(by='语文',inplace=True,ascending=False,ignore_index=True)  
print(Score_all)

   姓名  语文    数学  英语   物理  生物  化学
0  刘备  98  32.0  43   35  40  70
1  张飞  93  67.0  80   66  70  78
2  关羽  92  78.0  81   80  62  59
3  赵云  79  98.0  48   39  70  68
4  貂蝉  59  46.0  67   90  76  79
5  貂蝉  59  46.0  67   90  76  79
6  曹操  59  98.0  98  100  76  32

## 设置索引方法

方法：set_index(keys, drop=True)

参数：keys，列索引名称或者列索引名称的列表；drop，默认为 True，当设置为新的索引，删除原来的列。

In [15]:
Score_all.set_index('姓名',drop=True,inplace=True)  
print(Score_all)

    语文    数学  英语   物理  生物  化学
姓名
刘备  98  32.0  43   35  40  70
张飞  93  67.0  80   66  70  78
关羽  92  78.0  81   80  62  59
赵云  79  98.0  48   39  70  68
貂蝉  59  46.0  67   90  76  79
貂蝉  59  46.0  67   90  76  79
曹操  59  98.0  98  100  76  32

## 删除元素方法
方法：drop（lable，axis）

参数：lable 即要删除的行或者列；axis 指定删除的方向，axis=0，表示沿行方向删除；axis=1，表示沿列方向删除。

In [16]:
Score_all.drop('曹操',axis=0,inplace=True)  
print(Score_all)

    语文    数学  英语  物理  生物  化学
姓名
刘备  98  32.0  43  35  40  70
张飞  93  67.0  80  66  70  78
关羽  92  78.0  81  80  62  59
赵云  79  98.0  48  39  70  68
貂蝉  59  46.0  67  90  76  79
貂蝉  59  46.0  67  90  76  79